.ui.borderless.top.attached.menu {
  background-color: transparent; !important;
  box-shadow: none;
  border: none;
}


body{
  width: 100%;
  background-image: url("modelx.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.ui.segment {
  background-color: transparent; !important;
  box-shadow: none;
  border: none;
  padding-top: 150px;
}

.circular.ui.button {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 350px;
}

a{
  color: black; !important;
}