.ui.borderless.top.attached.menu {
  background-color: transparent; !important;
  box-shadow: none;
  border: none;
}


body{
  width: 100%;
  background-image: url("modelx.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.ui.segments {
  background-color: transparent; !important;
  box-shadow: none;
  border: none;!important;
  padding-top: 125px;
}

.ui.segment.ui.center.aligned {
  background-color: transparent; !important;
  box-shadow: none;
  border: none;
  padding: 5px;
}

.circular.ui.primary.button {
  background-color: black; !important;
}
.circular.ui.button {
  opacity: 50%; !important;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 450px;
}

a{
  color: black; !important;
}}
